.folder {
  position: absolute;
  z-index: 5;
  gap: 1em;
  img {
    cursor: pointer;
    width: 25%;
  }
  p {
    cursor: pointer;
    font-size: 1.8em;
    font-family: "Minecraft", "Courier New", Courier, monospace;
    text-shadow: 2px 2px rgba(233, 233, 233, 0.39);
  }
}
